In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv('abc_xyz_dataset.csv')

In [8]:
df.head()

,Item_ID,Item_Name,Category,Jan_Demand,Feb_Demand,Mar_Demand,Apr_Demand,May_Demand,Jun_Demand,Jul_Demand,Aug_Demand,Sep_Demand,Oct_Demand,Nov_Demand,Dec_Demand,Total_Annual_Units,Price_Per_Unit,Total_Sales_Value
0,ITM_001,Surface Near,Grocery,4516,4069,4664,4653,4508,4125,4669,4210,4824,4497,4259,4782,53776,10,537760
1,ITM_002,Central Him,Grocery,4792,4964,4628,4660,4897,5015,4805,4686,4896,4536,4520,5054,57453,100,5745300
2,ITM_003,Win Everyone,Apparel,61,175,38,43,15,161,224,41,387,340,70,21,1576,2,3152
3,ITM_004,Task Save,Apparel,1145,1113,717,832,783,954,1047,894,994,978,1136,712,11305,2,22610
4,ITM_005,Hotel Teacher,Grocery,1494,2051,1400,1918,1669,1733,1695,1560,1679,1381,1591,1662,19833,10,198330

In [7]:
df.tail()

,Item_ID,Item_Name,Category,Jan_Demand,Feb_Demand,Mar_Demand,Apr_Demand,May_Demand,Jun_Demand,Jul_Demand,Aug_Demand,Sep_Demand,Oct_Demand,Nov_Demand,Dec_Demand,Total_Annual_Units,Price_Per_Unit,Total_Sales_Value
995,ITM_996,No Join,Grocery,4159,4152,3776,4189,4123,4080,4306,4287,3793,3989,4183,4218,49255,2,98510
996,ITM_997,Adult Meeting,Grocery,3357,3516,3102,3329,3068,3130,3443,3473,3637,3057,3556,3021,39689,50,1984450
997,ITM_998,Agent Nature,Apparel,69,136,107,306,66,202,269,349,3,307,89,46,1949,2,3898
998,ITM_999,Follow Believe,Home & Kitchen,322,357,342,361,365,330,329,326,337,351,350,341,4111,50,205550
999,ITM_1000,Table Actually,Toys,357,378,351,362,330,352,312,337,327,299,336,331,4072,2,8144

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Item_ID             1000 non-null   object
 1   Item_Name           1000 non-null   object
 2   Category            1000 non-null   object
 3   Jan_Demand          1000 non-null   int64
 4   Feb_Demand          1000 non-null   int64
 5   Mar_Demand          1000 non-null   int64
 6   Apr_Demand          1000 non-null   int64
 7   May_Demand          1000 non-null   int64
 8   Jun_Demand          1000 non-null   int64
 9   Jul_Demand          1000 non-null   int64
 10  Aug_Demand          1000 non-null   int64
 11  Sep_Demand          1000 non-null   int64
 12  Oct_Demand          1000 non-null   int64
 13  Nov_Demand          1000 non-null   int64
 14  Dec_Demand          1000 non-null   int64
 15  Total_Annual_Units  1000 non-null   int64
 16  Price_Per_Unit      1000 non-null   int64
 17  Total_Sales_Value   1000 non-null   int64
dtypes: int64(15), object(3)
memory usage: 140.8+ KB

In [11]:
df.isnull().sum()

Item_ID               0
Item_Name             0
Category              0
Jan_Demand            0
Feb_Demand            0
Mar_Demand            0
Apr_Demand            0
May_Demand            0
Jun_Demand            0
Jul_Demand            0
Aug_Demand            0
Sep_Demand            0
Oct_Demand            0
Nov_Demand            0
Dec_Demand            0
Total_Annual_Units    0
Price_Per_Unit        0
Total_Sales_Value     0
dtype: int64

In [34]:
category_sales = df.groupby('Category')['Total_Sales_Value'].sum()
category_pct = (category_sales / category_sales.sum() * 100).round(1)

result = pd.DataFrame({
    'Total Sales Volume': category_sales,
    'Percentage Contribution': category_pct
})

result.sort_values('Percentage Contribution', ascending=False)

                Total Sales Volume  Percentage Contribution
Category
Grocery                  911737236                     85.0
Apparel                   99381360                      9.3
Electronics               25081150                      2.3
Toys                      21945148                      2.0
Home & Kitchen            14143006                      1.3

""" Result
Category A (High-Value Contributors):

- Grocery contributes ~85.03% of the total sales value, making it the most critical category to the business.
- This category should receive the highest priority in terms of inventory management, promotions, and customer focus.

Category B (Moderate Contribution):

- Apparel contributes ~9.27% of total sales.
- This is a mid-tier performer, requiring moderate attention to maintain and possibly grow sales.

Category C (Low-Value Contributors):

- Electronics (2.34%), Toys (2.05%), and Home & Kitchen (1.32%) make up the remaining sales.
- These categories have low impact on overall revenue and should be managed with cost-efficiency in mind, possibly with limited stock or selective marketing.
"""

In [46]:
df

,Item_ID,Item_Name,Category,Jan_Demand,Feb_Demand,Mar_Demand,Apr_Demand,May_Demand,Jun_Demand,Jul_Demand,Aug_Demand,Sep_Demand,Oct_Demand,Nov_Demand,Dec_Demand,Total_Annual_Units,Price_Per_Unit,Total_Sales_Value
0,ITM_001,Surface Near,Grocery,4516,4069,4664,4653,4508,4125,4669,4210,4824,4497,4259,4782,53776,10,537760
1,ITM_002,Central Him,Grocery,4792,4964,4628,4660,4897,5015,4805,4686,4896,4536,4520,5054,57453,100,5745300
2,ITM_003,Win Everyone,Apparel,61,175,38,43,15,161,224,41,387,340,70,21,1576,2,3152
3,ITM_004,Task Save,Apparel,1145,1113,717,832,783,954,1047,894,994,978,1136,712,11305,2,22610
4,ITM_005,Hotel Teacher,Grocery,1494,2051,1400,1918,1669,1733,1695,1560,1679,1381,1591,1662,19833,10,198330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ITM_996,No Join,Grocery,4159,4152,3776,4189,4123,4080,4306,4287,3793,3989,4183,4218,49255,2,98510
996,ITM_997,Adult Meeting,Grocery,3357,3516,3102,3329,3068,3130,3443,3473,3637,3057,3556,3021,39689,50,1984450
997,ITM_998,Agent Nature,Apparel,69,136,107,306,66,202,269,349,3,307,89,46,1949,2,3898
998,ITM_999,Follow Believe,Home & Kitchen,322,357,342,361,365,330,329,326,337,351,350,341,4111,50,205550
999,ITM_1000,Table Actually,Toys,357,378,351,362,330,352,312,337,327,299,336,331,4072,2,8144

In [57]:
df1 = df.copy()

# ABC Classification
def abc_classification(df):
    # Sort by descending sales value
    df_abc = df.sort_values('Total_Sales_Value', ascending=False)
    
    # Calculate cumulative percentage
    df_abc['Cumulative_Pct'] = ((df_abc['Total_Sales_Value'].cumsum() / df_abc['Total_Sales_Value'].sum()) * 100).round(1)
    
    # Assign ABC classes
    df_abc['ABC_Class'] = pd.cut(df_abc['Cumulative_Pct'],
                             bins=[0, 80 , 95, float('inf')],
                             labels=['A', 'B', "C"])
    return df_abc
    
# XYZ Classification
def xyz_classification(df):
    # Get monthly demand columns
    months = [col for col in df.columns if '_Demand' in col]
    
    # Calculate coefficient of variation (CV)
    df['AVG_Demand'] = df[months].mean(axis=1)
    df['Std_Demand'] = df[months].std(axis=1)
    df['CV'] = ((df['Std_Demand'] / df['AVG_Demand']) * 100).round(2)
    
    # Assign XYZ classes
    df['XYZ_Class'] = pd.cut(df['CV'],
                             bins=[0, 10, 25, float('inf')],
                             labels=['X', 'Y', 'Z'])
    return df

# Perform classification
df_abc = abc_classification(df1)
df_final = xyz_classification(df_abc)

# Combine ABC-XYZ
df_final['Combined_Class'] = df_final['ABC_Class'].astype(str) + df_final['XYZ_Class'].astype(str)

# Display relevant columns
result = df_final[['Item_ID', 'Item_Name', 'Total_Sales_Value', 'ABC_Class', 'AVG_Demand', 'Std_Demand', 'CV', 'XYZ_Class', 'Combined_Class']]

print("ABC-XYZ Classification Results:")
result

ABC-XYZ Classification Results:

,Item_ID,Item_Name,Total_Sales_Value,ABC_Class,AVG_Demand,Std_Demand,CV,XYZ_Class,Combined_Class
924,ITM_925,Ten And,59462000,A,4955.166667,175.138300,3.53,X,AX
511,ITM_512,Radio Race,47606000,A,3967.166667,242.380930,6.11,X,AX
521,ITM_522,Pattern Book,37136000,A,3094.666667,199.492234,6.45,X,AX
394,ITM_395,Animal Key,29804500,A,4967.416667,265.766972,5.35,X,AX
168,ITM_169,Material Vote,28431000,A,4738.500000,203.303848,4.29,X,AX
...,...,...,...,...,...,...,...,...,...
177,ITM_178,Investment Agreement,1512,C,63.000000,5.704862,9.06,X,CX
482,ITM_483,Along Have,1456,C,60.666667,9.499601,15.66,Y,CY
408,ITM_409,Indicate Organization,1396,C,58.166667,6.685579,11.49,Y,CY
568,ITM_569,Worry Because,1290,C,53.750000,5.832900,10.85,Y,CY
906,ITM_907,Gun Both,1228,C,51.166667,9.989388,19.52,Y,CY

In [63]:
result['Combined_Class'].value_counts()

Combined_Class
CX    456
CY    157
CZ    128
BX    116
AX     65
BY     40
AY     19
BZ     16
AZ      3
Name: count, dtype: int64