In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [ ]:
data = requests.get(url).text

print(data)

In [10]:
soup = BeautifulSoup(data, 'html.parser')

In [11]:
netflix_data = pd.DataFrame(columns=['Date', 'Open', 'Close', 'High','Low','Volume'])

# Use BeautifulSoup for extracting data

In [23]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find('tbody').find_all('tr'):
    col = row.find_all('td')
    date = col[0].text
    Open = col[1].text
    close = col[2].text
    high = col[3].text
    low = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    netflix_data = pd.concat([netflix_data, pd.DataFrame({'Date':[date], 'Open':[Open], 'Close':[close], 'High':[high],'Low':[low],'Adj_Close': [adj_close],'Volume': [volume]})], ignore_index=True)

In [24]:
netflix_data

            Date    Open   Close    High     Low       Volume Adj_Close
0   Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1   May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2   Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3   Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4   Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85
..           ...     ...     ...     ...     ...          ...       ...
65  Jan 01, 2016  109.00  122.18   90.11   91.84  488,193,200     91.84
66  Dec 01, 2015  124.47  133.27  113.85  114.38  319,939,200    114.38
67  Nov 01, 2015  109.20  126.60  101.86  123.33  320,321,800    123.33
68  Oct 01, 2015  102.91  115.83   96.26  108.38  446,204,400    108.38
69  Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26

[70 rows x 7 columns]

# Extracting using pandas directly

In [26]:
read_html = pd.read_html(url)
netflix_df = read_html[0]

netflix_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 01, 2021",504.01,536.13,482.14,528.21,528.21,78560600
1,"May 01, 2021",512.65,518.95,478.54,502.81,502.81,66927600
2,"Apr 01, 2021",529.93,563.56,499.00,513.47,513.47,111573300
3,"Mar 01, 2021",545.57,556.99,492.85,521.66,521.66,90183900
4,"Feb 01, 2021",536.79,566.65,518.28,538.85,538.85,61902300
...,...,...,...,...,...,...,...
66,"Dec 01, 2015",124.47,133.27,113.85,114.38,114.38,319939200
67,"Nov 01, 2015",109.20,126.60,101.86,123.33,123.33,320321800
68,"Oct 01, 2015",102.91,115.83,96.26,108.38,108.38,446204400
69,"Sep 01, 2015",109.35,111.24,93.55,103.26,103.26,497401200
70,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [29]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html'

html_data = requests.get(url).text

In [30]:
soup = BeautifulSoup(html_data, 'html.parser')

In [31]:
soup.find('title')

In [32]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text #ADD_CODE
    Open = col[1].text #ADD_CODE
    high = col[2].text #ADD_CODE
    low = col[3].text #ADD_CODE
    close = col[4].text #ADD_CODE
    adj_close = col[5].text #ADD_CODE
    volume = col[6].text #ADD_CODE
    
    amazon_data = pd.concat([amazon_data, pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [37]:
amazon_data.tail()

            Date    Open    High     Low   Close       Volume Adj Close
56  May 01, 2016  663.92  724.23  656.00  722.79   90,614,500    722.79
57  Apr 01, 2016  590.49  669.98  585.25  659.59   78,464,200    659.59
58  Mar 01, 2016  556.29  603.24  538.58  593.64   94,009,500    593.64
59  Feb 01, 2016  578.15  581.80  474.00  552.52  124,144,800    552.52
60  Jan 01, 2016  656.29  657.72  547.18  587.00  130,200,900    587.00

In [40]:
amazon_data.tail(1)

            Date    Open    High     Low   Close       Volume Adj Close
60  Jan 01, 2016  656.29  657.72  547.18  587.00  130,200,900    587.00

In [45]:
amazon_data.index[-1]

60

In [46]:
amazon_data.loc[amazon_data.index[-1], 'Open']

'656.29'

In [47]:
soup.find('title')